.vscode/settings.json
modules-template/
.DS_Store
.vscode/tasks.json
modules-exciter/.vscode/tasks.json
modules-exciter/core/target
modules-exciter/json/target
modules-exciter/ui/target

modules-exciter/.project
modules-exciter/.settings/org.eclipse.core.resources.prefs
modules-exciter/.settings/org.eclipse.m2e.core.prefs
modules-exciter/core/.classpath
modules-exciter/core/.project
modules-exciter/core/.settings/org.eclipse.core.resources.prefs
modules-exciter/core/.settings/org.eclipse.jdt.apt.core.prefs
modules-exciter/core/.settings/org.eclipse.jdt.core.prefs
modules-exciter/core/.settings/org.eclipse.m2e.core.prefs
modules-exciter/json/.classpath
modules-exciter/json/.project
modules-exciter/json/.settings/org.eclipse.core.resources.prefs
modules-exciter/json/.settings/org.eclipse.jdt.apt.core.prefs
modules-exciter/json/.settings/org.eclipse.jdt.core.prefs
modules-exciter/json/.settings/org.eclipse.m2e.core.prefs
modules-exciter/ui/.classpath
modules-exciter/ui/.project
modules-exciter/ui/.settings/org.eclipse.core.resources.prefs
modules-exciter/ui/.settings/org.eclipse.jdt.apt.core.prefs
modules-exciter/ui/.settings/org.eclipse.jdt.core.prefs
modules-exciter/ui/.settings/org.eclipse.m2e.core.prefs
